.badge{
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    font-weight: 600;
}

.badge-sm{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    font-weight: 600;
}

.badge-new{
    background-color: tomato;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}